<h1>Stocks</h1>

<%= form_tag("/search", method: "get", remote: true) do %>
  <%= label_tag(:symbol, "Search for: ") %>
  <%= text_field_tag(:symbol) %>
  <%= submit_tag("Search") %>
<% end %>

<ul id="stocks"></ul>
